# output function formation

In [1]:
x = 'Adnan'
y = 1000

In [3]:
print(x)

Adnan

In [4]:
print(y)

1000

In [5]:
print('His name is {} and he got {} tk'.format(x, y))

His name is Adnan and he got 1000 tk

In [6]:
print('His name is {one} and he got {two} tk'.format(one = x, two = y))

His name is Adnan and he got 1000 tk

# input function

In [7]:
x = 10
y = 20
z = x+y
print(z)

30

In [8]:
x = input()
y = input()
z = x+y
print(z)

10
20
1020

In [9]:
type(x)

str

In [10]:
type(y)

str

In [13]:
z = int(x+y)/5

In [14]:
print(z)

204.0

In [15]:
x+y

'1020'

In [16]:
int(x+y)

1020

In [17]:
z = (int(x)+int(y))/5

In [18]:
print(z)

6.0

In [21]:
x = int(input())
y = int(input())

10
20

In [20]:
type(x)

int

In [23]:
x, y =input().split(',')

10,20

In [24]:
print(x)
print(y)

10
20

In [25]:
x = input().split(' ')

10 20 30 40 50

In [26]:
print(x)

['10', '20', '30', '40', '50']

In [27]:
type(x)

list

In [28]:
x = [int(i) for i in x]

In [29]:
print(x)

[10, 20, 30, 40, 50]

In [31]:
y = [int(i) for i in input().split(',')]

10,20,30,40,50

In [32]:
print(y)

[10, 20, 30, 40, 50]

In [33]:
14 % 2

0

# Operators

In [34]:
14 % 4

2

In [35]:
2 ** 2

4

In [36]:
3 ** 5

243

In [37]:
x = 10

In [38]:
x+= 20

In [ ]:
x = x+20

In [39]:
print(x)

30

In [40]:
3 == 4

False

In [41]:
3 > 2

True

In [42]:
(6 > 5) and not (20 > 10) or (4 == 4)

True

In [44]:
(3 != 3) or not (10 > 4) and ('B' > 'A')

False

In [45]:
3 == 4

False

In [46]:
3 is 4

False

In [47]:
3!= 4

True

In [48]:
3 is not 4

True

In [49]:
l = [10,20,30, 'Hello']

In [50]:
30 in l

True

In [51]:
x = 'Hello'

In [52]:
x in l

True

In [53]:
15 in l

False

In [54]:
s = 'Hello'

In [55]:
'a' in s

False

In [56]:
'h' in s

False

In [57]:
'H' in s

True

# Math Library

In [1]:
x = 10
y = cos(x)
print(y)

NameError: name 'cos' is not defined

In [5]:
import math as m

In [6]:
x = 10
y = m.cos(x)
print(y)

-0.8390715290764524

In [7]:
x = 9
y = m.sqrt(x)

In [8]:
print(y)

3.0

In [9]:
z = m.sqrt(16)

In [10]:
print(z)

4.0

In [11]:
m.sin??

In [12]:
m.sin(10)

-0.5440211108893698

# Extra

In [5]:
x = 21
if x % 2 == 0:
    print('Even')
else:
    print('Odd')

Odd

In [19]:
l = [20,30,40,53,61]
i = 21
if i > 2:
    print(i)

21

In [34]:
if i%2 == 0: print('Even')
else: print('Odd')

Odd

In [22]:
x = 20
if x % 2 == 0:
    print('Even')

Even

In [24]:
x = 20
if x%2 == 0: print('Even')

Even

In [31]:
x = 20
if x%2 == 0: print('The number :'); print(x); print('It is an even number')

The number :
20
It is an even number

In [35]:
x = 21
if x%2 == 0: print('Even')
elif x == 0: print('The number is zero')
else: print('Odd')

Odd

In [46]:
x = 40
y = 40
1 + x if x > y else y + 2

42

In [47]:
z = 1 + x if x > y else y + 2

In [48]:
z

42

In [11]:
print('1: Celcius to Fahrenheit')
print('2: Fahrenheit to Celcius')

n = int(input('Enter your option: '))

if n == 1:
    c = float(input('Enter the Celcius Temperature: '))
    f = (9/5)*c+32
    print('Fahrenheit Temperature: ',f)
elif n == 2:
    f = float(input('Enter the Fahrenheit Temperature: '))
    c = (5/9)*(f-32)
#     print('Celcius Temperature: %.2f' %c)
    print('Celcius Temperature: ', round(c,2))
else:
    print('Invalid Option')

1: Celcius to Fahrenheit
2: Fahrenheit to Celcius
Enter your option: 2
Enter the Fahrenheit Temperature: 92
Celcius Temperature:  33.33

In [12]:
if (1, 2): print('foo')

foo

In [13]:
if (1, 2):
                print('foo')

foo

In [14]:
if (1, 2):
    print('foo')

foo

In [15]:
if 1:
    print('true')

true